.character {
  background-color: #fffdde;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  margin-left: 0 !important;
  padding: 0 !important;
}

.image {
display: flex;
align-items: center;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
}